* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

:root {
    --white__color: hsl(0, 100%, 100%);
    --purple__100: hsl(275, 100%, 97%);
    --purple__600: hsl(292, 16%, 49%);
    --purple__950: hsl(292, 42%, 14%);
}


body {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

#container {
    background-color: var(--purple__100);
    position: relative;
    height: 100vh;
}

.img__background {
    height: 276px;
    width: 100%;
    object-fit: cover;
}

#main {
    background-color: var(--white__color);
    width: 40vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 10px;
}

.main__header {
    display: flex;
    margin-bottom: 12px;
}

.icon-star {
    margin-right: 20px;
}

.h1 {
    font-weight: 700;
}

.main__content {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.faq {
    display: flex;
    flex-direction: column;
}

.fix {
    border-bottom: solid 1px #d7d4d4;
    padding: 20px 0;
}

.fix:last-child {
    border-bottom: none;
    padding-bottom: 8px;
}

li {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.faq__question {
    display: inline-block;
    font-weight: 600;
}

.faq__question:hover {
    color: #ad29eb;
    cursor: pointer;
}

.faq__answer {
    font-weight: 400;
    padding: 10px 0;
    margin-top: 8px;
    opacity: 0.6;
}

.hidden {
    display: none;
}

@media (max-width: 739px) {
    #main {
        width: 90vw;
    }

    .img__background {
        height: 310px;
    }
}